easyocr
pymupdf
pdf2image
ultralytics
opencv-python
fastapi
uvicorn
Flask

# Optional / commented
# torch
# torchvision
# torchaudio

# PyTorch packages with extra index for CUDA
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0
